body
{
	background-color: grey;
}
.button
{
	background-color: green;
	font-size: 28px;
	border: none;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 4px 4px;
}
#left
{
	float: left;
}
